package components

import "fmt"

type CounterItemsProps struct {
	CurrentPage int
	TotalItems  int
	TotalPages  int
}

templ CounterItemsPage(props CounterItemsProps) {
	<div class=" px-4 ">
		<div class="flex items-center justify-between">
			<h3 class="text-sm font-medium text-gray-900">
				Найдено записей: { fmt.Sprintf("%d", props.TotalItems) }
			</h3>
			<span class="text-sm text-gray-500">
				Страница { fmt.Sprintf("%d", props.CurrentPage) } из { fmt.Sprintf("%d", props.TotalPages) }
			</span>
		</div>
	</div>
}
