package components

templ PaginationNum() {
	<div class="p-4 border-t border-gray-200">
		<nav class="flex items-center justify-between">
			<div class="text-sm text-gray-700">
				Показано 3 из 5 сотрудников
			</div>
			<div class="flex space-x-2">
				<!-- Кнопка "Назад" -->
				<a
					href="/activity?page=1"
					class="px-3 py-2 rounded-md border border-gray-300 text-sm font-medium bg-gray-100 text-gray-400 cursor-not-allowed"
				>
					Назад
				</a>
				<!-- Номера страниц -->
				<span class="px-3 py-2 bg-blue-600 text-white rounded-md">1</span>
				<a
					href="/activity?page=2"
					class="px-3 py-2 bg-white text-gray-700 rounded-md border border-gray-300 hover:bg-gray-50"
				>
					2
				</a>
				<!-- Кнопка "Вперед" -->
				<a
					href="/activity?page=2"
					class="px-3 py-2 rounded-md border border-gray-300 text-sm font-medium bg-white text-gray-700 hover:bg-gray-50"
				>
					Вперед
				</a>
			</div>
		</nav>
	</div>
}
