package components

import (
"sitex/views/view_utils"
"strconv"
)

type PaginationNumProps struct {
TotalPage int
CurrentPage int
TotalUsers int
UsersOnPage int
QueryParams map[string]string
}

templ PaginationNum(props PaginationNumProps) {
<div class="p-4 border-t border-gray-200">
    <nav class="flex items-center justify-between">
        <div class="text-sm text-gray-700">
            Показано { strconv.Itoa(props.UsersOnPage) } из { strconv.Itoa(props.TotalUsers) } сотрудников
        </div>
        <div class="flex space-x-2">
            <!-- Кнопка "Назад" -->
            if props.CurrentPage > 1 {
            <a href={ viewutils.BuildPageURL(props.CurrentPage-1, props.QueryParams) }
                class="px-3 py-2 rounded-md border border-gray-300 text-sm font-medium bg-white text-gray-700 hover:bg-gray-50">
                Назад
            </a>
            } else {
            <span
                class="px-3 py-2 rounded-md border border-gray-300 text-sm font-medium bg-gray-100 text-gray-400 cursor-not-allowed">
                Назад
            </span>
            }

            <!-- Номера страниц -->
            for i := range(props.TotalPage) {


            if (i+1)==props.CurrentPage {

            <span class="px-3 py-2 bg-blue-600 text-white rounded-md">{ strconv.Itoa(i + 1) }</span>
            } else {
            <a href={ viewutils.BuildPageURL(i+1, props.QueryParams) }
                class="px-3 py-2 bg-white text-gray-700 rounded-md border border-gray-300 hover:bg-gray-50">
                { strconv.Itoa(i + 1) }
            </a>
            }
            }

            <!-- Кнопка "Вперед" -->
            if props.CurrentPage < props.TotalPage {
                <!-- didsa -->
                <a href={ viewutils.BuildPageURL(props.CurrentPage+1,props.QueryParams) }
                    class="px-3 py-2 rounded-md border border-gray-300 text-sm font-medium bg-white text-gray-700 hover:bg-gray-50">
                    Вперед
                </a>
                } else {
                <span
                    class="px-3 py-2 rounded-md border border-gray-300 text-sm font-medium bg-gray-100 text-gray-400 cursor-not-allowed">
                    Вперед
                </span>
                }
        </div>
    </nav>
</div>
}
