package components

templ UserProfile() {
	<div class="p-4 border-t border-gray-200">
		<div class="flex items-center mb-3">
			@UserAvatar(15)
			<div class="ml-3 flex flex-col items-start">
				@UserInfo()
			</div>
		</div>
	</div>
}
