package views

import "sitex/views/layout"
import "sitex/views/widgets"
import "sitex/internal/user"

type ActivityPageProps struct {
	StatusCount []user.StatusCount
}

templ ActivityPage(props ActivityPageProps) {
	@layout.Layout(layout.LayoutProps{
		Title:           "Активность",
		MetaDescription: "Страница активности",
		IsAuthenticated: true,
	}) {
		@widgets.TimeStatistics(props.StatusCount)
		@widgets.AddStatus()
	}
}
