package views

import "sitex/views/layout"
import "sitex/views/widgets"

templ ActivityPage() {
	@layout.Layout(layout.LayoutProps{
		Title:           "Активность",
		MetaDescription: "Страница активности",
		IsAuthenticated: true,
	}) {
		@widgets.TimeStatistics()
		@widgets.AddStatus()
	}
}
