// views/change_password.go
package views

import (
	"sitex/views/layout"
	"sitex/views/widgets"
)

templ ChangePasswordPage(email string) {
	@layout.Layout(layout.LayoutProps{
		Title:           "Смена пароля",
		MetaDescription: "Страница смены пароля пользователя",
		IsAuthenticated: true,
	}) {
		<div class="min-h-screen bg-gray-50 flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
			@widgets.ChangePasswordWidget(widgets.ChangePasswordProps{
				Email: email,
			})
		</div>
	}
}
