package views

import (
	"fmt"
	"sitex/internal/user"
	"sitex/views/components"
	"sitex/views/layout"
	"sitex/views/view_utils"
	"sitex/views/widgets"
)

type HistoryTimeEventProps struct {
	Email          string
	TotalPage      int
	CurrentPage    int
	TotalItems     int
	LastTimeEvents []user.TimeEvent
	IsAdmin        bool
	UserName       string
}

templ HistoryTimeEventPage(props HistoryTimeEventProps) {
	@layout.Layout(layout.LayoutProps{
		Title:           "История событий",
		MetaDescription: "Страница добавления событий",
		IsAuthenticated: true,
	}) {
		{{

emailParam := "?email=" + props.Email
		}}
		<div class="my-2 p-2 ">
			<h3 class="mb-4 text-lg font-semibold text-gray-900">
				Добавленные события за текущий год для 
				<span class="relative group">
					<a
						href={ fmt.Sprintf("/%s", emailParam) }
						class="text-blue-600 hover:text-blue-800 font-medium hover:underline inline"
					>
						{ props.UserName }
					</a>
					@components.UserLinks(emailParam)
				</span>
			</h3> <!-- Переключатели между историями -->
			<div class="flex space-x-2 mb-4 border-b border-gray-200">
				<a
					href={ fmt.Sprintf("/history_status?email=%s", props.Email) }
					id="last-tab-status"
					class="pb-2 px-3 text-sm font-medium text-gray-500 hover:text-gray-700 border-b-2 border-transparent whitespace-nowrap transition-colors"
				>
					Последние статусы
				</a>
				<a
					href={ fmt.Sprintf("/history_time_event?email=%s", props.Email) }
					id="last-tab-time"
					class="pb-2 px-3 text-sm font-medium text-blue-600 border-b-2 border-blue-600 whitespace-nowrap"
				>
					Последние временные события
				</a>
			</div>
			@components.CounterItemsPage(components.CounterItemsProps{
				CurrentPage: props.CurrentPage,
				TotalItems:  props.TotalItems,
				TotalPages:  props.TotalPage,
			})
		</div>
		<div class="flex flex-col  mt-2">
			for _, item := range props.LastTimeEvents {
				<div class="mb-2">
					@widgets.TimeEventWidget(widgets.TimeEventProps{
						ID:            int(item.ID),
						EventType:     item.EventType.Code,
						EventTypeName: item.EventType.Name,
						Date:          item.Date,
						ScheduledTime: viewutils.FormatTimeWithoutSeconds(item.ScheduledTime),
						ActualTime:    viewutils.FormatTimeWithoutSeconds(item.ActualTime),
						DifferenceMin: item.DifferenceMin,
						Description:   item.Description,
						UserName:      item.Employee.LastName + " " + item.Employee.FirstName,
						Email:         item.Employee.Email,
						WhoAddEvent:   item.WhoAdded.LastName + " " + item.WhoAdded.FirstName,
						DateAdd:       item.UpdatedAt,
						IsAdmin:       props.IsAdmin,
					})
				</div>
			}
		</div>
		@components.PaginationNum(components.PaginationNumProps{
			UrlPath:     fmt.Sprintf("/history_time_event?email=%s&", props.Email),
			TotalPage:   props.TotalPage,
			CurrentPage: props.CurrentPage,
		})
	}
}
